img{
    width: 70px;
    height: 70px;
}
body{
    text-align: center;
    background-image: linear-gradient(to right top, #33a0f1, #2591d9, #1882c1, #0a73aa, #006494);
}
html , body{
    height: 100%;
    margin: 0;
}